<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Flappy Bird</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/flappy.css">
</head>

<body class="conteudo">
	<h1 th:inline="text">[[${#httpServletRequest.remoteUser}]] Esta agora no flappy!</h1>        
    <h2 id ="gameover" onclick="refresh()"></h2>
    <div wm-flappy></div>
    <script src="js/flappy.js"></script>
    <a href="/atualizar">Clique aqui para alterar sua senha</a>
    <a href="/deletar">Clique aqui para deletar sua conta</a>
</body>
    
</html>